<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddressBook || About</title>
</head>
<body>

<div th:fragment="about">
<!-- About Start -->
<section class="section bg-grey" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="text-center mb-5">
          <h2 class="highlight header-colorize text-uppercase mb-3">About Us</h2>
          <p class="text-sub size-14">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img src="images/header-about.png" alt="" class="img-fluid mx-auto d-block">
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="text-sub mt-5 mt-lg-0">
          <h3 class="title font-weight-medium mb-4">A perfect bootstrap theme for all types of business.</h3>
          <p class="mb-4 size-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          <p class="mb-4 size-15">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
          <a href="" class="learn-more size-15">Learn more <span class="ml-2 right-icon"><i class="fas fa-arrow-right"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->


  <div th:fragment="contact_us">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact-info">
          <h4 class="title mb-4">Get In Touch <br> We´d Love to Hear from you!</h4>
          <p class="text-sub size-15">Contact Us for more info regarding Advertising, Sponsorships and
            Collaborations</p>
          <p class="text-sub size-15 mb-4"><i class="fas fa-contact"></i>LillisTech</p>
          <p class="text-sub size-15 mb-4"><i class="fas fa-mobile-alt"></i> +47 412 14 236</p>
          <p class="text-sub size-15 mb-4"><i class="fas fa-envelope"></i> lillistech@gmail.com</p>
          <p class="text-sub size-15 mb-4"><i class="fas fa-map-marker-alt"></i> Jacob Aalls Gate 14A</p>
        </div>
      </div>
    </div>
  </div>



  <div th:fragment="contactaddressform">
    <!-- Contact Start -->
    <section class="section" id=contact-address-form">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8">
            <div class="text-center mb-5">
              <h2 class="highlight header-colorize text-uppercase mb-3">Add Address </h2>
              <p class="text-sub size-14">Add an address and connect it to your contacts</p>
            </div>
          </div>
        </div>

        <div class="col-lg-7 offset-lg-1">
          <div class="custom-form mt-4 mt-lg-0">
            <form>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="streetname">Street Name:</label>
                    <input type="text" class="form-control" id="streetname"
                           placeholder="Enter Street Name.."/>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="housenumber">House Number:</label>
                    <input type="text" class="form-control" id="housenumber"
                           placeholder="Enter Your Last Name.."/>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="postalcode">Postal Code:</label>
                    <input type="text" class="form-control" id="postalcode"
                           placeholder="Enter Your Postal Code.."/>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" id="city"
                           placeholder="Enter City.."/>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button href="" class="btn btn-primary"><span class="mr-2 left-icon"><i
                          class="fas fa-envelope"></i></span> Save Address
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>
    <!-- Save New Address End -->
  </div>


  <div th:fragment="details">
    <!-- Contact Start -->
    <section class="section" id="contactdetails">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8">
            <div class="text-center mb-5">
              <h2 class="highlight header-colorize text-uppercase mb-3">Details</h2>
              <p class="text-sub size-14">Note to Self</p>
              <p class="text-sub size-14">Contact details, description or reminders regarding contact can all
                be added here! </p>
            </div>
          </div>
        </div>

        <div class="col-lg-7 offset-lg-1">
          <div class="custom-form mt-4 mt-lg-0">
            <form>
              <div class="row">

                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="details">Description:</label>
                    <input type="text" class="form-control" id="details" placeholder="Details.."/>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="notes">Notes:</label>
                    <textarea name="notes" id="notes" rows="4" class="form-control"
                              placeholder="Notes.."></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button href="" class="btn btn-primary"><span class="mr-2 left-icon"><i
                          class="fas fa-envelope"></i></span> Save Contact Details
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- contact End -->
  </div>

  <!--
  <div th:fragment="contactformtwo">
  -->
  <!-- Contact Start -->
  <!--
      <section class="section" id="contact">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-6 col-md-8">
                      <div class="text-center mb-5">
                          <h2 id="addcontact-h2" class="highlight header-colorize text-uppercase mb-3">Add A New
                              Contact</h2>
                          <p id="addcontact-p" class="size-14">Add Your Contact Hit Save, and your New contact will be
                              stored Just Like That!.</p>
                      </div>
                  </div>
              </div>

              <div class="container">
                  <div class="row">
                      <div class="col-lg-7 offset-lg-1">
                          <div class="custom-form mt-4 mt-lg-0">
                              <form>
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="form-group add-contact-form-fields">
                                              <label for="firstname">First Name:</label>
                                              <input type="text" class="form-control mb-4 col-4" id="firstname"
                                                     placeholder="Enter Your First Name.."/>
                                          </div>
                                      </div>
                                      <div class="col-lg-12 add-contact-form-fields">
                                          <div class="form-group">
                                              <label for="lastname">First Name:</label>
                                              <input type="text" class="form-control mb-4 col-4" id="lastname"
                                                     placeholder="Enter Your Last Name.."/>
                                          </div>
                                      </div>
                                      <div class="col-lg-12 add-contact-form-fields">
                                          <div class="form-group">
                                              <label for="email">Email:</label>
                                              <input type="email" class="form-control mb-4 col-4" id="email"
                                                     placeholder="Enter Your Email.."/>
                                          </div>
                                      </div>

                                      <div class="col-lg-12">
                                          <div class="form-group add-contact-form-fields">
                                              <label for="phonenumber">Phone Number:</label>
                                              <input type="text" class="form-control mb-4 col-4" id="phonenumber"
                                                     placeholder="Enter Your Phone Number.."/>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <button href="" id="save-contact-btn" class="btn btn-primary"><span
                                                  class="mr-2 left-icon"><i
                                                  class="fas fa-envelope"></i></span> Save Contact
                                          </button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    </div>  -->

</div>
<!-- JS Scripts Start-->
<!-- JavaScript Bundle with Popper -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/scrollspy.min.js"></script>
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>