<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddressBook || Footer</title>
</head>
<body>
<footer th:fragment="footer">
<!-- Footer Start -->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center white">2021 © LilisTech. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</section>
<!-- Footer End -->
</footer>
<script th:fragment="scripts" th:remove="tag"></script>
<!-- JS Scripts Start-->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/scrollspy.min.js"></script>
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/main.js"></script>
<!-- JS Scripts End-->

</body>
</html>