<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="snippets/head :: head">

    <meta charset="UTF-8">
    <title>AddressBook || Home</title>
</head>
<body>
<div th:replace="snippets/navbar :: navbar"></div>
<div th:replace="snippets/hero :: hero"></div>
<div>
    <section class="header-unicorn align-items-center position-relative d-flex">
        <div class="container my-2">

            <h2 class="highlight header-colorize text-uppercase mb-3" id="contacts-title">
                Contacts
            </h2>
            <table th:border="1" class="table table-striped table-responsive-md" id="contacts-table">

                <thead class="header-title" id="contacts-table-header">
                <tr class="font-weight-normal">
                    <th>Contact First Name</th>
                    <th>Contact Last Name</th>
                    <th>Contact Email</th>
                    <th>Contact Phone</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody class="col-lg-5 offset-lg-1" id="contacts-body">

                <tr th:each="person : ${listPeople}">
                    <td th:text="${person.firstName}"></td>
                    <td th:text="${person.lastName}"></td>
                    <td th:text="${person.email}"></td>
                    <td th:text="${person.phoneNumber}"></td>
                    <td> <a th:href="@{/showFormUpdate/{id}(id=${person.id})}" class="btn btn-primary">Update</a></td>
                    <td> <a th:href="@{/deleteContact/{id}(id=${person.id})}" class="btn btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div class="button-group">
                <a th:href="@{/showNewContactForm}" id="btn-add-contact" class="btn btn-primary ml-2">
                    Add Contact<span class="ml-2 right-icon"><i
                        class="fas fa-arrow-right"></i></span></a>
                <a href="" id="btn-show-all-contacts" class="btn btn-primary ml-2">See all Contacts<span
                        class="ml-2 right-icon"><i
                        class="fas fa-arrow-right"></i></span></a>
            </div>
        </div>
    </section>
</div>


<footer th:replace="snippets/footer :: footer"></footer>
<!--<script th:replace="snippets/footer :: script"></script> -->
<!-- JS Scripts Start-->
<!-- JavaScript Bundle with Popper -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/scrollspy.min.js"></script>
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>